<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">BlackBoard }</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item active">
          <a class="nav-link" routerLink="/timetable">Timetable</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <div
         *ngIf="!authService.isAuthenticated();then showLinks else showName">
        </div>
        <ng-template #showLinks>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/signup">Register</a>
              </li>
              <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/signin">Log In</a>
              </li>
        </ng-template>
        <ng-template #showName>
          <li class="nav-item">
            <a class="nav-link">u done logged in</a>
          </li>
          <li class="nav-item">
              <a
               class="nav-link"
               style="cursor: pointer" 
               (click)="onLogout()" 
               *ngIf="authService.isAuthenticated()">
                Logout
              </a>
            </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>