<div [@load] class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-bordered shadow-sm">
        <thead>
          <tr class="table-info">
            <th></th>
            <th>Maandag</th>
            <th>Dinsdag</th>
            <th>Woensdag</th>
            <th>Donderdag</th>
            <th>Vrijdag</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tableRows of timeTableSlots">
            <td *ngFor="let slot of tableRows">
              <span>
                {{ slot.name }}
                <span 
                 *ngIf="slot.col !== 0 && slot.name !== ''"
                 (click)="onDelete(slot)"
                 class="border border-dark float-right x">
                  X
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-7">
      <button 
       class="btn btn-danger ml-2 pl-4 pr-4 shadow-sm float-right"
       type="button"
       (click)="onReset()">
        Reset
      </button>
      <button
       class="btn btn-success ml-2 shadow-sm float-right"
       type="button"
       data-toggle="modal"
       data-target="#addPoint">
        Voeg punt toe
      </button>
      <button
       class="btn btn-primary pl-4 pr-4 shadow-sm float-right"
       type="button"
       (click)="onSave()">
        Save
      </button>
    </div>
  </div>
  <hr>
  <app-modal></app-modal>
</div>