<div [@load] class="row"> 
  <div class="col-xs-4 col-sm-4 col-md-4 offset-sm-1 offset-md-4">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <p *ngIf="message">{{ message }}</p>
      <button class="btn btn-info" type="submit">Sign in</button>
    </form>
  </div>
</div>